.body{
    background-color: grey;
}
h1{
    width: 800px;
    height: 800p;
    border-style: solid;
    background-color: rgb(104, 101, 93);
    color: rgb(55, 34, 6);
    font-family: 'Fasthand', cursive;

}
button{
    
    color:rgb(235, 229, 228) !important ;
}
p{
    color: rgb(55, 34, 6);
    width: 1500px;
    height:auto;
    border-style: solid;
    border-color:rgb(55, 34, 6);
    text-align: center;
    font-size: 32px;
   
    flex-wrap: wrap;

}
h4{
   color: rgb(105, 72, 29);
}
h5{
    color: rgb(105, 72, 29);
}